name: Check
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Lint
        run: pnpm run lint

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Format
        run: pnpm run format:check

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Build
        run: pnpm run build
