name: Check
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-slim
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Lint
        run: pnpm run lint

  format:
    runs-on: ubuntu-slim
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Format
        run: pnpm run format:check

  typecheck:
    runs-on: ubuntu-slim
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Typecheck
        run: pnpm run typecheck

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Build
        run: pnpm run build
