name: ci
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Lint
        run: pnpm run lint

  format:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Format
        run: pnpm run format:check

  typecheck:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Typecheck
        run: pnpm run typecheck

  build:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Run | Build
        run: pnpm run build
